.container{
    width:60%;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    /* height: 500px; */
    margin-top: 60px;
    background-color:#FFFBF5;
}
@media (max-width:768px){
    .container{
        width:100%;
        margin-top: 0vw;
    }
}